.calculator {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 300px;
  margin: 20px auto;
  border: 2px solid #000000;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #000000;
  margin-top: 0;
}

#display {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1.5em;
  text-align: right;
  border: none;
  outline: none;
  background-color: #ecf0f1;
}

table {
  width: 100%;
}

td {
  text-align: center;
}

input[type="button"] {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
}

/* Estilizando os botões de operação */
input[value="/"],
input[value="-"],
input[value="+"],
input[value="="] {
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
}

/* Estilizando o botão "C" */
input[value="C"] {
  background-color: #e74c3c;
  color: #fff;
  font-weight: bold;
}

/* Mudando a cor do botão quando hover (passar o mouse por cima) */
input:hover {
  background-color: #bdc3c7;
  color: #fff;
}